pfio==1.0.1
fire==0.4.0
git+https://github.com/zaburo-ch/segmentation_models.pytorch.git@v0.1.3-with-timm-0.4.5
efficientnet-pytorch==0.6.3
pretrainedmodels==0.7.4
timm==0.4.5
dacite==1.6.0
pytorch-ignite==0.3.0
rich==9.10.0
commonmark==0.9.1
pycocotools==2.0.2
iterative-stratification==0.1.6
wandb==0.10.25
blosc==1.10.2
